# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE / Editor files
.vscode/
.idea/
*.swp

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# dotenv
.env
.env.local
.env.example
